<div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Staff</li>
      </ol>
    </nav>
    <div class="box">
      <div class="box-header">
        <h3>Staff</h3>
        <form (ngSubmit)="processForm()">
          <div class="form-group">
            <label for="staffFname">First Name</label>
            <input type="text" name="staff" class="form-control" placeholder="First Name" [(ngModel)]="staff.staffFname">
          
            <label for="staffLname">Last Name</label>
            <input type="text" name="staffLname" class="form-control" placeholder="Last Name" [(ngModel)]="staff.staffLname">
          
            <label for="staffContact">Contact</label>
            <input type="text" name="staffContact" class="form-control" placeholder="Contact" [(ngModel)]="staff.staffContact">
          
            <label for="staffEmail">Email</label>
            <input type="text" name="staffEmail" class="form-control" placeholder="Email" [(ngModel)]="staff.staffEmail">
            <label for="address">Address</label>
            <select name="address" class="form-control" [(ngModel)]="Address.aId">
              <option value="undefined" hidden disabled selected>Select Address</option>
              <option *ngFor="let address of addressList" [selected]="address.aId === staff?.staffAddress?.aId" [ngValue]="address.aId">{{address.street}}</option>
            </select>

            <label for="position">Position</label>
            <select name="position" class="form-control" [(ngModel)]="Position.pId">
              <option value="undefined" hidden disabled selected>Select Position</option>
              <option *ngFor="let position of positionList" [selected]="position.pId === staff?.staffPosition?.pId" [ngValue]="position.pId">{{position.positionType}}</option>
            </select>
          
          </div> 
          <div>
            <br/>
            <input type="submit" value="save" class="btn btn-success">
          </div>
        </form>
      </div>
    </div>
  </div>