<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit-User</li>
        </ol>
    </nav>
    <div class="container-fluid">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3>Edit-User</h3>
                    <form (ngSubmit)="processForm()">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" name="name" class="form-control" placeholder="Name" [(ngModel)]="user.name">
                        </div>
                        <div class="form-group">
                            <label for="contact">Contact</label>
                            <input type="text" name="contact" class="form-control" placeholder="Contact" [(ngModel)]="user.contact">
                        </div>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" name="username" class="form-control" placeholder="Username" [(ngModel)]="user.username">
                        </div>
                        <div>
                            <input type="submit" value="save" class="btn btn-success">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>