<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
  </ol>
</nav>
<div class="col-md-3 col-sm-6 col-xs-12">
  <div class="info-box">
    <span class="info-box-icon bg-blue"><i class="ion ion-ios-people-outline"></i></span>

    <div class="info-box-content">
      <span class="info-box-text">Total Users</span>
      <span class="info-box-number">{{users.length}}</span>
    </div>
    <!-- /.info-box-content -->
  </div>
  <!-- /.info-box -->
</div>

<div class="col-md-3 col-sm-6 col-xs-12">
  <div class="info-box">
    <span class="info-box-icon bg-teal"><i class="ion ion-ios-list-outline"></i></span>

    <div class="info-box-content">
      <span class="info-box-text">Event</span>
      <span class="info-box-number">{{events.length}}</span>
    </div>
    <!-- /.info-box-content -->


  </div>
  <!-- /.info-box -->
</div>

<div class="col-md-3 col-sm-6 col-xs-12">
  <div class="info-box">
    <span class="info-box-icon bg-orange"><i class="ion ion-ios-people-outline"></i></span>

    <div class="info-box-content">
      <span class="info-box-text">Staffs</span>
      <span class="info-box-number">{{staffs.length}}</span>
    </div>
    <!-- /.info-box-content -->


  </div>
  <!-- /.info-box -->
</div>

<div class="col-md-3 col-sm-6 col-xs-12">
  <div class="info-box">
    <span class="info-box-icon bg-maroon"><i class="ion ion-ios-cart-outline"></i></span>

    <div class="info-box-content">
      <span class="info-box-text">Orders Received</span>
      <span class="info-box-number">{{orders.length}}</span>
    </div>
    <!-- /.info-box-content -->


  </div>
  <!-- /.info-box -->
</div>
<div class="col-sm-6">
    <div class="box box-primary">
      <div class="box-body no-padding">
        <div id='calendar'></div>
      </div>
    </div>
  </div>
